<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Dashboard</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <h1>Attendance Dashboard</h1>
    <table>
        <thead>
            <tr>
                <th>Subject</th>
                <th>Student ID</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            <% for(let subject in attendanceRecords) { %>
                <% for(let studentId in attendanceRecords[subject]) { %>
                    <tr>
                        <td>
                            <%= subject %>
                        </td>
                        <td>
                            <%= studentId %>
                        </td>
                        <td>
                            <%= attendanceRecords[subject][studentId].time %>
                        </td>
                    </tr>
                    <% } %>
                        <% } %>
        </tbody>
    </table>
</body>

</html>